
#div1{
    width: 100px;
    height: 100px;
    left: 0;
    background: green;
    position: absolute;
}
#div2{
    width: 100px;
    height: 100px;
    left: 0;
    background: yellow;
    position: absolute;
}
#someDiv{
width: 100px;
height: 100px;
margin-left: 100px;
border-radius: 50%;
background: rgb(131, 131, 0);
}