body{
    overflow: hidden;
}
#div{
    width: 100px;
    height: 100px;
    border:2px solid black;
    background: linear-gradient(115deg, rgb(215, 215, 215),grey,black,grey, black,grey, rgb(197, 197, 197));
    border-radius: 10px;
}