#div1{
    width: 250px;
    height: 200px;
    margin-left: 80vh;
    margin-top: 30vh;
    background: rgb(255, 255, 255);
    position: absolute;
    border : 2px solid black;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}